@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.FullScreen{
    margin: 5%;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoText{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 5%;
    font-family: 'Quicksand', sans-serif;
}

.Logo{
    width: 35%;
    /* margin-right: 10%; */
}

.Text{
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    /* margin-left: 5%; */
}

.Description{
    /* width: 100%; */
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}